<launch>
  <master auto="start"/>
  
  <!-- Bringup -->
  <include file="$(find practice)/launch/AGV_bringup.launch" />


  <!-- Navigation stack -->

  <!-- Map Server -->
  <arg name="map_file" default="$(find nav_cctv)/map/map.yaml"/>
  <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />
  
  <!-- AMCL --> 
  <include file="$(find nav_cctv)/launch/amcl.launch" />

  <!-- move_base -->>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nav_cctv)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find nav_cctv)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav_cctv)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_cctv)/param/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find nav_cctv)/param/base_local_planner_params.yaml" command="load" />
  </node>
  
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find nav_cctv)/param/test_grid_params.yaml" command="load" ns="/costmap_node/costmap" />
  </node>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nav_cctv)/rviz/test_grid.rviz" />

</launch>
